#Folders to ignore
2015-16/Pre\ Sep \18/*
2016-17/Pre\ Sep18/*
2017-18/Pre\ Sep18/*
Make\ SLFs/.Rproj.user/*

#Ignore documentation etc.
*.pptx
*.docx

#Ignore SPSS job files
*.spj

#Ignore MS Office files
*.xls
*.xlsx
*.doc
*.docx

# SPSS output
*.spv

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# html files / ouputs
*.html

Make SLFs/log.txt
