# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: 'Close stale issues and PRs'
on:
  schedule:
    - cron: '30 5 * * 1'

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v4
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }} 
          stale-issue-message: 'This issue is stale because it has been open approximately 5 months with no activity.'
          days-before-issue-stale: 150
          days-before-issue-close: -1
          stale-pr-message: 'This Pull Request is stale because it has been at least 30 days with no activity. It will be closed if there is no activity within 7 days.'
          days-before-pr-stale: 30
          close-pr-message: 'This Pull Request was closed because it has been stalled for 7 days with no activity.'
          days-before-pr-close: 7
